.counter {
  display: flex;
  align-items: center;
  max-width: 10rem;
  width: 100%;
  justify-content: space-between;

  &__count {
    font-size: 1.5rem;
  }

  &__control {
    background-color: #f0f0f0;
    height: 100%;
    padding: 0 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40%;
  }
}