.custom-icon {
  display: flex;
  position: relative;
  margin-right: 1.5rem;
  cursor: pointer;

  &__count {
    font-size: 1rem;
    min-width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: var(--color-white);

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 1.3rem;
    bottom: 1.2rem;
  }

  svg {
    font-size: 2.1rem;
  }
}
